@import "tailwindcss";
html, body {
  font-family: 'SF Pro';
}

.container {
  @apply w-full mx-auto 
         max-w-[1320px]
         xl:max-w-[1140px]
         lg:max-w-[960px]
         md:max-w-[720px]
         sm:max-w-full
         px-6;
}
.swiper-pagination-bullet {
  background-color: #ccc;
}

.swiper-pagination-bullet-active {
  background-color: #FF9529;
}
@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SFPro/SFProDisplay-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SFPro/SFProDisplay-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SFPro/SFProDisplay-Medium.otf") format("opentype");
  font-weight: 600;
}

